@media only screen and (max-width: 1061px) {
    .content {
        margin: auto;
        margin-top: -100px;
        width: 90%;
        padding: 50px;
        transition: 0.3s;
    }
  }

@media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
}

@media (max-width: 560px) {
  .separator-text{
    padding-top:50px;
    font-size:2rem !important;
  }
}